{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery-migrate.js' %}"></script>
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/charts.js' %}"></script>
		<script src="{% static 'js/final-countdown.min.js' %}"></script>
		<script src="{% static 'js/fancy-box.min.js' %}"></script>
		<script src="{% static 'js/fullcalendar.min.js' %}"></script>
		<script src="{% static 'js/datatables.min.js' %}"></script> 
		<script src="{% static 'js/circle-progress.min.js' %}"></script>
		<script src="{% static 'js/jquery-jvectormap.js' %}"></script>
		<script src="{% static 'js/jvector-map.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>